body {
  /*background-color: rgb(19, 21, 39);*/
  color: rgb(96, 94, 224);
}

.container {
  margin: auto;
  text-align: center;
}
form {
  text-align: center;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: rgb(161, 156, 156);
}
.login-window {
  margin: auto;
}
