body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;

  background-color: #211f1f;
  color: #313131;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.sp {
  color: #dac341;
  text-shadow: 1px 1px 1px #000000;
  font-size: 60px;
}

@media only screen and (max-width: 835px) {
  .sp {
    font-size: 40px;
  }
}
figcaption {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #2c1a0eab;
}
/****** Navbar Section ******/
nav {
  padding: 40px 5%;
  position: fixed;
  z-index: 5;
  width: 100%;
  background: linear-gradient(180deg, #000 0, transparent);
}

nav .logo {
  height: 40px;
}

nav .navbar-nav a.nav-link {
  color: #7f8eaa;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
}

nav .navbar-nav .active a.nav-link {
  color: rgb(22, 205, 238);
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 204, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  color: rgb(177, 135, 231);
}

@media only screen and (min-width: 1160px) {
  nav .nav-item {
    margin: auto 10px;
  }
}

@media only screen and (max-width: 1105px) {
  nav .navbar-nav a.nav-link {
    font-size: 14px;
  }

  nav .navbar {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 880px) and (min-width: 768px) {
  nav .navbar-nav a.nav-link {
    font-size: 12px;
  }

  nav .logo {
    height: 37px;
  }
}

@media only screen and (max-width: 767px) {
  nav .navbar {
    padding: 0;
    width: 100%;
  }

  nav .navbar-nav {
    margin-top: 20px;
  }
}

/****** Header Section ******/
header {
  text-align: center;
  max-height: 100vh;
  color: #fff;
  margin: auto;
  text-transform: uppercase;
}

header img {
  width: 100%;
  height: 100vh;
  background-position: center;
  object-fit: cover;
}

header h1 {
  font-size: 60px;
  font-weight: 700;
}

header .mySlides {
  display: none;
}

header .header-text {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80%;
  font-weight: 400;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 835px) {
  header .header-text {
    top: 70%;
    width: 100%;
    padding: 7%;
    text-align: left;
  }

  header h1 {
    font-size: 40px;
  }

  header h3 {
    font-size: 15px;
  }
}

/******About Club Section ******/
.about {
  background-color: #f5e7c0f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 60px 0;
  font-size: 1.125rem;

  background-image: url("../img/bg/siatka-hala.jpg");
  color: #dac341;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-shadow: 3px 2px rgb(2, 2, 2);
  text-shadow: 3px 2px rgb(8, 1, 49);
}
.about .row {
  width: 100%;
  min-height: 700px;
  margin: 0;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .about h1 {
    font-size: 1.5rem;
  }
}
.about-img-fluid {
  max-width: 100%;
  height: auto;
}
col-sm-12 col-md-10 col-xl-9 mx-auto d-block {
  text-align: left;
}
/****** league Section ******/
.league {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  color: #444444;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #faf9ec;
  background-image: url("../img/bg/morze-siatka.jpg");
}
.league .row {
  width: 100%;
  margin: 0;
  min-height: 700px;
}

/*@media (max-width: 1000px) and (min-width: 767px) {
  .league .container {
    max-width: unset !important;
  }
}*/

/******Matches Schedule Section*******/
.schedule {
  text-align: center;
  background-color: rgb(248, 250, 235);
  font-family: Open Sans, sans-serif;
  padding: 100px 0;
  font-size: 14px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/bg/morze-siatka2.jpg");
}
.schedule .row {
  width: 100%;
  margin: 0;
  min-height: 700px;
}
.schedule #row-schedule {
  width: 100%;
  height: 850px;
  margin: 0 auto;
}

/*@media (max-width: 1000px) and (min-width: 767px) {
  .schedule .container {
    max-width: unset !important;
  }
}*/

/****** Footer Section ******/
footer {
  color: #fff;
  background-color: #232a35;
  -webkit-font-smoothing: antialiased;
  padding: 100px 0 50px;
}
.footer .container {
  width: 100%;
  margin: 0;
  min-height: 700px;
}
footer h4 {
  text-transform: uppercase;
  font-weight: 700;
}

footer .contacts {
  color: #d3d7e3;
}

footer .contacts p {
  margin: 0;
  padding: 0;
}

footer .contacts a {
  margin-right: 30px;
  text-decoration: none;
  color: #d3d7e3;
}

footer .contacts a:hover {
  color: #0cf;
}

footer .iconSocial {
  font-size: 40px;
  margin: 20px 0px 5px;
  color: #0cf;
}

footer .oppen-hours {
  max-width: 250px;
}

footer .oppen-hours ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none outside none;
  color: #d3d7e3;
}

footer .oppen-hours li {
  padding-top: 0;
  padding: 8px 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

footer .right {
  float: right;
  font-size: 0.84375rem;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 50px 0;
  }

  footer .contacts {
    padding-bottom: 50px;
  }

  footer .maps {
    height: 250px !important;
  }
}

@media only screen and (max-width: 575px) {
  footer .oppen-hours {
    margin: auto;
    padding-bottom: 50px;
  }

  footer .cont {
    text-align: center;
  }

  footer .contacts a {
    margin: auto 20px;
  }
}
/****** Copyright Section ******/
.copyright {
  background-color: #202630;
  padding: 10px;
  color: #d3d7e3;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

.copyright p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.copyright p a {
  -webkit-font-smoothing: auto;
  text-decoration: none;
  color: #0cf;
}

.copyright a:hover {
  color: #f6f7c3;
}
.table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 3;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}
.table td,
th {
  font-size: 13px;
  border-top: 2px solid #ddd;
  padding: 5px 12px;
  text-align: center;
  vertical-align: top;
}
.table tbody tr:nth-child(even) td {
  background-color: #f7f7c7;
}
.img-fluid {
  height: 300px;
  width: 600px;
}

figcaption {
  font-size: 10px;
  font-weight: bold;
}
/*owiniecie tabel*/
@media screen and (max-width: 960px) {
  .rwd-table {
    overflow-x: scroll;
  }
}

table {
  border: 1px solid #e1e1e1;
  border-collapse: collapse;
}

@media screen and (min-width: 960px) {
  table {
    width: 100%;
    table-layout: fixed;
  }
}
